*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    scroll-snap-align: center;
}
img{
    width: 100%;
}
 
#header{
        display: flex;
        justify-content: space-between;
      padding-top: 5px;
}
#header  a{
    background-color: #ad7f62;
    padding: 5px;
    text-decoration: none;
    color: #f2f6fc;
    margin-right: 1em;
}
#header p{
    margin-left: 1em;
    align-self: flex-end ;
    color:  #f2f6fc;
}
#first-section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    
}
#first-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:50%  100%;
    
}
.float{
    padding-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #283c61bd;
    
}
.float-top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid  #f2f6fc ;
    height: 50px;
    position: fixed ;
    width: 100%;
    top: 0;
    background-color: #283C61;
    z-index: 999;
}
.d1{
    display: flex;
   
 }
 .d2{
    display: flex;
    gap: 20px;
    border-bottom: none;
    align-self: center;
    list-style-type: none;
    
}
.d2 a{
    text-decoration: none;
    color: #f2f6fc;
    transition: 1s ease;
}
.d2 a:hover{
    color: #ad7f62;
}
.d1 i{
    color: #ad7f62;
    font-size: 2em;
    position: relative;
    bottom: 3px;
}
#menuBtn{
    align-self: center;
    color: white;
    font-size: 2.5em;
    
   
   
}
#menuBtn:hover{
    color: #ad7f62;
}
.float-bottom{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:90% ;
}
.float-bottom-child{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 1.1em;
    color:#f2f6fc;
    
}
#button1{
    padding: 10px;
    background-color:  #ad7f62;
    border: none;
    color:#f2f6fc;
}
#button2{
    background-color: transparent;
    padding: 10px 35px 10px 35px; 
    border: 1px solid  #ad7f62;
    color: #f2f6fc;
}
.buttons{
    display: flex;
    gap: 30px;
    align-self: center;
    margin-top: 2em;
}
#about-us{
    width: 100%;
    background-color: #f2f6fc;
}


#about-us button{
    background-color: #ad7f62;
    border: none;
    padding: 10px 30px 10px 30px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px;
}
.text button{
    justify-self: flex-start;
    width: 200px;
    margin-top: 20px;
}

.inside-bluecard{
    display: flex;
    justify-content: center;
    color: #f2f6fc;
    font-size: 0.8em;
    text-align: justify;
    background-color: #283C61;
    
   
}
.card-icon{
   color: #ad7f62;
   font-size: 50px;
    background-color: white;
    background-color: #283C61;
    font-size: 0.6em;
    text-align: justify;
    padding: 2em;
    display: flex;
    gap:5px ;
    border-bottom: 5px solid #ad7f62;
}
.card-icon i{
    display: inline-block;
    font-size: 7em;

}
.card-icon h2{
    color: #f2f6fc;
    line-height: -10px;
}
#practice-section{
    width: 100%;
    height: 100%;
    padding: 40px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #283C61;
}
#practice-section button{
    background-color: #ad7f62;
    border: none;
    color: white;
    padding: 15px;
}
#practice-section h1,h2{
    color: #f2f6fc;
 }
 #practice-section h1{
     color: #f2f6fc;
     margin-top: 10px;
 }
 #practice-area{
    /* width: fit-content;
    height: 100vh; */
    padding: 10px; 
    /* display: grid;
    grid-template-columns:repeat(3, auto);
    gap: 10px;
    justify-content: center;
    justify-items: center; */
    background-color: #283C61;

}
.i1 h2{
    font-size: 0.8rem;
    text-align: left;
    color: #f2f6fc;
   
}
.i1{
    /* background-color: white; */
    /* width: 300px;
    height: 200px; */
    border-bottom: 5px solid #ad7f62;
    /* background-color: #6a7da1; */



}
#feedbacks{
    padding:20px ;
    width: 100%;
    /* height: 100vh; */
    background-color: #f2f6fc;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#feedbacks h1{
    padding-top: 25px;
}
.class-holder{
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feedbacks-cards{
    background-color: white;
    height: 60%;
    width: 60%;
    border-bottom: 5px solid #ad7f62;
    position: relative;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10px 10px 10px 10px; */
    box-shadow: 0 0 15px black;
    transition: 1s ease;
}
.feedbacks-cards:hover{
transform: scale(1.05);
}
.feedbacks-cards::before{
    content: ' " ';
    color: #ad7f62;
    font-size: 4em;
    display: block;
    /* position: absolute;
    left: 40%;
    top: 0;
    transform: rotate(180deg); */

}
#feedbacks h1{
margin-bottom: 20px;
font-size: 2.5em;
}
#feedbacks h3{
    margin-bottom: 1.5em;
}
#feedbacks .person{
    justify-self: flex-end;
    align-self: flex-end;
    margin-top: 30px;

}
#contact-us{
    position: relative;
    width: 100%;
    height: 100vh;
}
#contact-us img{
    width: 100%;
    height: 100vh;
}
.ontop{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #283c61bd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.c2{
    color: #f2f6fc;
}
.c3{
    /* text-align: center; */
}
.c3 .brown{
    color: #ad7f62;
}
.c3 span{
    color: #f2f6fc;
}
.c3 p{
margin-bottom: 10px;
}
.c4 p{
    margin-bottom: 10px;
}
.c4 i{
    margin-right: 5px;
}
.c2 h1{
color:#f2f6fc;
margin-bottom: 10px;
}

footer{
    color: #f2f6fc;
    padding: 10px;
    margin-top: 5px;
    background-color: #283C61;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px black;
    gap: 5px;
}
footer a{
    color: #ad7f62;
    text-decoration: none;
}



















@media (max-width:768px){
    #header{
        padding: 5px;
    }
    #header a{
        margin-right: 0;

    }
    #header p{
        margin-left: 0;
    }
    #first-section img{
        object-position:40%  0%;
        
    }
    .float-top{
        height: 50px;
        flex-wrap: wrap;
        padding: 0;
       
        
    }
    #first-section{
        flex-direction: column;
        align-items: flex-start;
    }
     
    .d2{
     flex-direction: column;
     width: 100%;
     gap: 7px;
     top: 50px;
     position: absolute;
     padding: 10px;
     transform: translate(-100%);
     transition: 1s ease;
    
       
    }
    .d2 li{
        width: 100%;
        text-align: center;
    }
    #menuBtn{
        display: inline;
    }
    #menu:checked ~ ul{
  transform: translate(0);
  background-color: #283C61;
    }
    
    #feedbacks h1{
        font-size: 2em;
    }

    footer{
        font-size: 0.8em;
    }

    
}


@media (min-width:769px) {
    body {
        height: 100vh;
        overflow: hidden;
    }
    main{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
    
    }
    #first-section img{
        object-position:100%  0%;
        
    }

.d2{
    display: flex;
}
#menuBtn{
    display: none;
}
.float-bottom-child{
    font-size: 2em;
}
#about-us{
    height: 100vh;
    width: 100%;
    padding: 70px 20px 20px 20px;
    background-color: #f2f6fc;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    position: relative;
   
  
}
.blue-cards{
    display: flex;
    gap: 30px;
    position: absolute;
    /* width: fit-content; */
    top: -12%;
    left:5% ;
    right: 5%;
    margin: auto;
    
    
}

.card-icon{
    /* width: 20%; */
    /* height: 20%; */
    transition: 0.3s ease;
}
.card-icon:hover{
    transform: scale(1.1);
}
#about-us img{
    height: 100%;
    width: 30%;
    object-fit: cover;
    box-shadow: 20px 20px 1px #ad7f62;
}
#about-us aside{
    display: flex;
    display: flex;
    gap: 50px;
}
#practice-area{
    /* width: fit-content;
    height: 100vh; */
    padding: 40px; 
    display: grid;
    grid-template-columns:repeat(3, auto);
    gap: 30px;
    justify-content: center;
    justify-items: center;
    background-color: #283C61;

}
#practice-section{
    height: 100vh;
}
.i1{
    background: #6c94df31;

}
#feedbacks{
    padding: 40px;
    height: 100vh;
}
.class-holder{
    flex-direction: row;
    gap: 40px;
}
.feedbacks-cards{
    height: 70vh;
    width: 25%;
}
#contact-us{
    height: 100vh;
}
#contact-us img{
    height: 100vh;
}
.ontop{
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.c1{
    justify-self: flex-start;
    /* align-self: flex-start; */
    font-size: 2em;
}


}